* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Denk One', sans-serif;
}

header {
    padding-left: 0.5em;
    font-size: 17em;
    height: 1.5em;
    width: 100%;
    background-color: #F70938;
    color: white;
    display: flex;
    align-items: center;
}